@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #333333;
  --primary: #144A6C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-great-vibes: var(--font-great-vibes-src);
  --font-cabin:       var(--font-cabin-src);
  --font-adamina:     var(--font-adamina-src);
  --font-open-sans:   var(--font-open-sans-src);
  --font-inter:       var(--font-inter-src);

  --font-nunito:      var(--font-nunito-src);
  --font-poppins:     var(--font-poppins-src);
  --font-noto-serif:  var(--font-noto-serif-src);
 
}


* { box-sizing: border-box; }

